<h1>Bookmark #<%= @bookmark.id %></h1>

<div>
  <strong>Name</strong>:<br />
  <p><%= @bookmark.name %></p>
</div>
<div>
  <strong>Url</strong>:<br />
  <p><%= @bookmark.url %></p>
</div>
<div>
  <strong>Description</strong>:<br />
  <p><%= @bookmark.description %></p>
</div>
<div>
  <strong>User ID</strong>:<br />
  <p><%= @bookmark.user_id %></p>
</div>
<div class="details">
  <div><strong>User:</strong> <%= @bookmark.user %></div>
</div>
<button><a href="/bookmarks">Back</a></button>
<button><a href="/bookmarks/<%= @bookmark.id %>/edit">Edit</a></button> 
<button><a href="/bookmarks/<%= @bookmark.id %>/destroy">Destroy</a></button>
